body {
  width: auto;
  margin: auto;
  background-color: #f7f7f7;
  font-family: Helvetica, serif;
}

.mainContainer {
  margin: auto;
  padding-right: 220px;
  padding-left: 220px;
}

.header {
  height: 80px;
  background-color: #4267b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  padding-left: 220px;
  align-items: center;
}

.join-facebook {
  padding-right: 220px;
  color: white;
  padding-bottom: 0;
}

.logo {
  font-family: Lucida Grande, serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-right: 10px;
  margin-bottom: -8px;
}

.register {
  color: white;
  background-color: limegreen;
  border: #4267b2 1px solid;
  border-radius: 4px;
  padding: 3px 10px 3px 10px;
  margin-bottom: -16px;
}

.desc {
  margin-bottom: 10px;
}

.create-page {
  color: black;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_column {
  margin-inline-start: 0;
  margin-inline-end: 0;
  background-color: white;
  border: lightgray 1px solid;
  border-radius: 10px;
  width: 450px;
  padding: 20px 25px 20px 25px;
  text-align: center;
}

.content_column_right {
  margin-left: 20px;
}

.image {
  padding-bottom: 10px;
}

p {
  color: grey;
  padding-bottom: 40px;
}
